body{
  padding: 25px;
  background-color: #101010
}

.title {
	color: #ff81a1;
	font-family: 'Fira Mono', monospace;
}

.subtitle {
	color: #101010
	padding: 32px 32px;
	background-color: #ff81a1;
	width: 250px;
  border-radius: 4px;
  font-family: 'Roboto Mono', monospace;
}

.textcolor {
  color: #ffffff;
  font-family: 'Source Sans 3', sans-serif;
}